<footer class="container mt-5 border-top border-warning">
   <div class="row">

     <div class="col-12 col-sm-6 col-md-3 p-0 text-center">
       <img class="img-fluid" src="/logo.jpg">
     </div>

     <div class="col-12 col-sm-6 col-md-3 pt-3 text-center">
       <h5 class="text-warning">Publications</h5>
       <ul class="list-unstyled text-small">
         <% books.forEach(function(book,index){ %>
           <li><a class="link-secondary" href="/book/<%= book.name %>/<%= book.order %>"><%= book.title %></a></li>
         <% }) %>
         <li><a class="link-secondary" href="/">All In One</a></li>
       </ul>
     </div>

     <div class="col-12 col-sm-6 col-md-3 pt-3 text-center">
       <h5 class="text-warning">Resources</h5>

       <ul class="list-unstyled text-small">
         <li><a class="link-secondary" href="https://github.com/catpea/poetry/issues">Poetry Bugs</a></li>
         <li><a class="link-secondary" href="https://catpea.github.io/poetry/">Poetry Mirror</a></li>
         <li><a class="link-secondary" href="https://www.youtube.com/playlist?list=PLOo-pqnffyOqsK6hf5tFwMqzvhogksrgW">Poetry On YouTube</a></li>
         <li><a class="link-secondary" href="https://westland-valhalla.github.io/warrior/">Warrior Mirror</a></li>
         <li><a class="link-secondary" href="https://github.com/catpea/warrior/issues">Warrior Bugs</a></li>
       </ul>


     </div>

     <div class="col-12 col-sm-6 col-md-3 pt-3 text-center">
       <h5 class="text-warning">Social</h5>
       <ul class="list-unstyled text-small">
         <li><a class="link-secondary" href="#">Cat Pea Github</a></li>
         <li><a class="link-secondary" href="#">Cat Pea YouTube</a></li>
       </ul>
     </div>
   </div>

   <div class="row">
     <div class="text-center p-3">
       <small class="d-block mb-3 text-muted"><%= title %>: <%= description %></small>
     </div>
   </div>

 </footer>
