<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head.html', {}); %>
  </head>
  <body>

  <%- include('partials/nav.html', {}); %>

  <% if(pagination.pageFirst){ %>
    <div class="container mb-5">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 text-light"><%= pageName %></h1>
        <p class="lead text-light">
          <%= pageDescription %>
        </p>
        <p class="text-muted">
          <small>(showing a mix of all entries from all books merged into one, latest first)</small>
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col p-4">

          <div class="card text-info bg-dark mb-3">
            <div class="card-header"><i class="bi bi-newspaper align-text-bottom"></i> News Bites</div>
            <div class="card-body">


              <p class="card-text small"><i class="bi bi-receipt align-text-bottom text-light"></i>
                I created custom code generators for exporting data for this website,
                in both the <a href="https://github.com/catpea/warrior/blob/master/bin/server-object/bootstrap-template.hbs" class="text-reset">warrior</a> and <a href="https://github.com/catpea/poetry/blob/master/bin/server-object/bootstrap-transform.mjs" class="text-reset">poetry</a>
                projects so Poems and Videos look a bit nicer now.
                The Printer Friendly pages work OK, but still need improvement, especially on the warrior end.
              </p>

              <!-- <p class="card-text small">

                On the Poetry end <a href="/read/furkies-purrkies/317" class="text-reset">One</a> is a neat example of an abstract poem that reads well.

                Small poems like <a href="/read/furkies-purrkies/220" class="text-reset">The Owl</a> (one of my favorites) look perfect, same for <a href="/print/furkies-purrkies/220" class="text-reset">print mode</a>.

                The multi photo <a href="/read/furkies-purrkies/131" class="text-reset">Winter Adventures</a> looks good as well, all the pictures have their own boxes.

                And the link heavy <a href="/read/furkies-purrkies/42" class="text-reset">I Miss Old Programming Languages</a> is as neat as it gets, visited links will turn from rust-orange color to gray-yellow once clicked.

              </p>

              <p class="card-text small">
                On the Video end the focus is on videos, so text is smaller. <a href="/read/westland-warrior/68" class="text-reset">The Hacker</a> is perfectly readable and the links stand out really well (Poor Stephen, I can't believe they laughed at him for saying he invented a new science, this is a cruel world for nerds.).
                Play buttons and page sections (ex. Bill Bryson or Stoicism) stick out great in <a href="/read/westland-warrior/15" class="text-reset">The Philosopher</a>. And it all works well on Phones, Tablets and Desktops.
              </p> -->

              <!-- <p class="card-text small"><i class="bi bi-receipt align-text-bottom text-light"></i> I updated the way poems are displayed, I am not sure it it works with all poems, I will fix whatever is broken. Even is something is off, I added print mode to each page, where everything is perfectly readable. See <a href="/read/furkies-purrkies/119" class="text-reset">Finding The Northern Part Of The I-275 Bicycle Trail</a> for an example (squint and click <a href="/print/furkies-purrkies/119" class="text-reset">Printer Friendly</a> to see the blinding version).</p> -->

              <!-- <p class="card-text small"><i class="bi bi-receipt align-text-bottom text-light"></i> The <a href="/sitemap" class="text-reset">new sitemap</a> lists links in both poems and warrior's video pages now, <a href="/sitemap#westland-warrior-the-cryptographer" class="text-reset">The Cryptographer</a> is a nice example.</p> -->

              <!-- <p class="card-text small"><i class="bi bi-receipt align-text-bottom text-light"></i> <a href="/book/furkies-purrkies/toc/latest" class="text-reset">Table of Contents for Furkies Purrkies</a> shows both links and any extra images contained within the poem, <a href="/book/furkies-purrkies/toc/latest#furkies-purrkies-poetry-0119" class="text-reset">Finding The Northern Part Of The I-275 Bicycle Trail</a> is a good example.</p> -->

            </div>
          </div>


        </div>
      </div>


  <% } %>

  <main class="container">

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% posts.forEach(function(post,index){ %>
        <div class="col">
         <div class="card bg-dark text-white shadow mb-5">
           <% if(post.image){ %><a href="/read/<%= post.bookName %>/<%= post.number %>"><img src="/image/lg-<%= post.image %>" class="card-img-top" alt="<%= post.title %>"></a><% } %>
           <div class="card-body">
             <a href="/read/<%= post.bookName %>/<%= post.number %>" class="text-decoration-none"><h5 class="card-title text-warning"><%= post.bookTitle %> #<%= post.number %>: <%= post.title %></h5></a>
             <p class="card-text small"><%= post.text %></p>
             <% if(post.audio){ %><a href="/audio/<%= post.audio %>" class="btn btn-warning"><i class="bi bi-play-circle align-text-bottom"></i> Listen</a><% } %>
            <a href="/read/<%= post.bookName %>/<%= post.number %>" class="btn btn-outline-warning"><i class="bi bi-eye align-text-bottom"></i> View</a>
           </div>
           <div class="card-footer text-muted small">
             <%= post.timestamp %>
           </div>
         </div>
       </div>
      <% }); %>
    </div>

    <div class="row my-5">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-lg">
            <% if(!pagination.pageLast){ %><li class="page-item"><a class="page-link bg-dark text-white border-warning" href="/browse/<%= pagination.pageOlder %>">&laquo;&nbsp;Older</a></li><% } %>
            <% if(!pagination.pageFirst){ %><li class="page-item"><a class="page-link bg-dark text-white border-warning" href="/browse/<%= pagination.pageNewer %>">Newer&nbsp;&raquo;</a></li><% } %>
          </ul>
        </nav>
      </div>
    </div>

  </main><!-- /.container -->

  <%- include('partials/footer.html', {}); %>
  <%- include('partials/foot.html', {}); %>

  </body>
</html>
