
              <!-- <p class="card-text small">

                On the Poetry end <a href="/read/furkies-purrkies/317" class="text-reset">One</a> is a neat example of an abstract poem that reads well.

                Small poems like <a href="/read/furkies-purrkies/220" class="text-reset">The Owl</a> (one of my favorites) look perfect, same for <a href="/print/furkies-purrkies/220" class="text-reset">print mode</a>.

                The multi photo <a href="/read/furkies-purrkies/131" class="text-reset">Winter Adventures</a> looks good as well, all the pictures have their own boxes.

                And the link heavy <a href="/read/furkies-purrkies/42" class="text-reset">I Miss Old Programming Languages</a> is as neat as it gets, visited links will turn from rust-orange color to gray-yellow once clicked.

              </p>

              <p class="card-text small">
                On the Video end the focus is on videos, so text is smaller. <a href="/read/westland-warrior/68" class="text-reset">The Hacker</a> is perfectly readable and the links stand out really well (Poor Stephen, I can't believe they laughed at him for saying he invented a new science, this is a cruel world for nerds.).
                Play buttons and page sections (ex. Bill Bryson or Stoicism) stick out great in <a href="/read/westland-warrior/15" class="text-reset">The Philosopher</a>. And it all works well on Phones, Tablets and Desktops.
              </p> -->

              <!-- <p class="card-text small"><i class="bi bi-receipt align-text-bottom text-light"></i> I updated the way poems are displayed, I am not sure it it works with all poems, I will fix whatever is broken. Even is something is off, I added print mode to each page, where everything is perfectly readable. See <a href="/read/furkies-purrkies/119" class="text-reset">Finding The Northern Part Of The I-275 Bicycle Trail</a> for an example (squint and click <a href="/print/furkies-purrkies/119" class="text-reset">Printer Friendly</a> to see the blinding version).</p> -->

              <!-- <p class="card-text small"><i class="bi bi-receipt align-text-bottom text-light"></i> The <a href="/sitemap" class="text-reset">new sitemap</a> lists links in both poems and warrior's video pages now, <a href="/sitemap#westland-warrior-the-cryptographer" class="text-reset">The Cryptographer</a> is a nice example.</p> -->

              <!-- <p class="card-text small"><i class="bi bi-receipt align-text-bottom text-light"></i> <a href="/book/furkies-purrkies/toc/latest" class="text-reset">Table of Contents for Furkies Purrkies</a> shows both links and any extra images contained within the poem, <a href="/book/furkies-purrkies/toc/latest#furkies-purrkies-poetry-0119" class="text-reset">Finding The Northern Part Of The I-275 Bicycle Trail</a> is a good example.</p> -->
