<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head.html', {}); %>
  </head>
  <body class="bg-dark text-white pt-5">
  <%- include('partials/nav.html', {}); %>
  <main class="container">
    <div class="starter-template text-center py-5 px-3">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        <%- include('user.html', {}); %>
    </div>

  </main><!-- /.container -->
  <%- include('partials/foot.html', {}); %>
  </body>
</html>
