<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head.html', {}); %>
  </head>
  <body class="pt-5">
  <!-- <%- include('partials/nav.html', {}); %> -->

  <main class="container">

    <div class="row">


      <div class="col">
          <% posts.forEach(function(post, index){ %>



              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <a href="/read/<%= post.counter %>"><img src="/image/lg-<%= post.image %>" class="card-img-top" alt="<%= post.title %>"></a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a href="/read/<%= post.counter %>" class="text-decoration-none"><h5 class="card-title text-warning">#<%= post.counter %>: <%= post.title %></h5></a>
                      <p class="card-text small"><%= post.text %></p>
                      <% if(post.audio){ %><a href="/audio/<%= post.audio %>" class="btn btn-warning">Listen</a><% } %>
                     <a href="/read/<%= post.counter %>" class="btn btn-outline-warning">Read</a>
                    </div>
                    <!-- <div class="card-footer text-muted small">
                      <%= post.timestamp %>
                    </div> -->
                    <div class="card-footer text-muted small">
                      &laquo; <%= post.forward %> &middot; <%= post.backward %> &raquo;
                    </div>
                  </div>
                </div>
              </div>






          <% }); %>
        </div>


    </div>





  </main><!-- /.container -->

  <%- include('partials/foot.html', {}); %>
  </body>
</html>
