<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head.html', {}); %>
  </head>
  <body>

  <%- include('partials/nav.html', {}); %>



  <main class="container">

    <div class="row">
      <div class="col">


        <% books.forEach(function(book,index){ %>
          <div class="bg-dark rounded shadow p-1 p-md-2 mb-3">

          <h2 class="text-warning fw-light"><%= book.title %> Resources</h2>
          <ul>



            <li><a class="text-light text-decoration-none" href="/book/<%= book.name %>/<%= book.order %>"><%= book.title %> Home Page &raquo;</a></li>
            <li><a class="text-light text-decoration-none" href="/book/<%= book.name %>/toc/<%= book.order %>">Table Of Contents &raquo;</a></li>

            <% for (const [name, url] of Object.entries(book.links)) { %>
              <li><a class="text-light text-decoration-none" href="<%= url %>"><%= name %> <i class="bi bi-link-45deg text-warning align-text-bottom"></i></a></li>
            <% } %>
          </ul>

          <ul>
            <% data[book.name].story.posts.forEach(function(post,index){ %>
              <li>
                <a href="/read/<%= post.bookName %>/<%= post.number %>" class="text-light text-decoration-none me-2 d-inline-block"><small>#<%= post.number %></small>: <%= post.title %></a>
                <% if(post.audio){ %><a href="/audio/<%= post.audio %>" class="text-warning text-decoration-none me-1 d-inline-block small"><i class="bi bi-play-circle align-text-bottom"></i> <span style="display: inline-block; margin-top: 5px;"></span></a><% } %>
              </li>

              <% if(post.links.length){ %>
                  <% post.links.forEach(function(link,index){ %>
                    <li>
                      <a href="<%= link.url %>" class="text-muted text-decoration-none small"><i class="bi bi-link-45deg text-warning align-text-bottom"></i> <span class="text-warning"><%= link.title %></span></a> <small class="text-muted">(<%= link.hostname %>)</small>
                    </li>
                  <% }); %>
              <% } %>

            <% }); %>
          </ul>

          </div>
          <% }) %>


      </div>
    </div>



  </main><!-- /.container -->

  <%- include('partials/footer.html', {}); %>
  <%- include('partials/foot.html', {}); %>

  </body>
</html>
