<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head.html', {}); %>
  </head>
  <body class="pt-5">
  <!-- <%- include('partials/nav.html', {}); %> -->

  <% if(pagination.pageFirst){ %>
    <div class="container mb-5">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-light">
        <h1 class="display-4"><%= name %></h1>
        <p class="lead">
          <%= info %>
        </p>
      </div>
    </div>
  <% } %>

  <main class="container">

    <div class="row row-cols-1 row-cols-md-2 g-4">


          <% posts.forEach(function(post,index){ %>
            <div class="col">
             <div class="card bg-dark text-white shadow mb-5">
               <a href="/read/<%= post.counter %>"><img src="/image/lg-<%= post.image %>" class="card-img-top" alt="<%= post.title %>"></a>
               <div class="card-body">
                 <a href="/read/<%= post.counter %>" class="text-decoration-none"><h5 class="card-title text-warning">#<%= post.counter %>: <%= post.title %></h5></a>
                 <p class="card-text small"><%= post.text %></p>
                 <% if(post.audio){ %><a href="/audio/<%= post.audio %>" class="btn btn-warning">Listen</a><% } %>
                <a href="/read/<%= post.counter %>" class="btn btn-outline-warning">Read</a>
               </div>
               <div class="card-footer text-muted small">
                 <%= post.timestamp %>
               </div>
             </div>
           </div>
          <% }); %>


    </div>

    <div class="row">
      <div class="col">
        <% if(pagination.pageLast){ %>
          <div class="alert alert-info" role="alert">
            You are amazing, you have reached the oldest page. Thank You.
          </div>
        <% } %>
      </div>
    </div>
    <div class="row my-5">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-lg">
            <% if(!pagination.pageLast){ %><li class="page-item"><a class="page-link bg-dark text-white border-warning" href="/browse/<%= pagination.pageOlder %>">&laquo; Older Posts</a></li><% } %>
            <!-- <% if(!pagination.pageFirst){ %><li class="page-item"><a class="page-link bg-dark text-white border-warning" href="/ %>">Latest Posts</a></li><% } %> -->
            <% if(!pagination.pageFirst){ %><li class="page-item"><a class="page-link bg-dark text-white border-warning" href="/browse/<%= pagination.pageNewer %>">Newer Posts &raquo;</a></li><% } %>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
    </div>

  </main><!-- /.container -->

  <%- include('partials/footer.html', {}); %>
  <%- include('partials/foot.html', {}); %>
  </body>
</html>
